html {
        font-size:100%;
        margin-bottom:0;
        height:100%;
}

body {
        margin-top: 0px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0;
        font: normal 70% verdana, arial, helvetica, sans-serif;
        color: black;
        background-color: black;
        background-image: url(http://static1.bfontaine.net/up7opt/fond_body.png);
        background-repeat:repeat-x;
        line-height:normal;
        height:100%;
}

a.flag,
a.share {
    display:inline-block;
    background-image:url(http://static1.bfontaine.net/up7opt/sprites.png);
}

/* drapeaux */
a.flag {
    margin-top:1px;
    height:20px;
    width:30px;
}

#french {
    background-position: -774px -193px;
    margin-top:0;
    height:21px;
}
#english {background-position: -434px -162px;}
#spanish {background-position: -340px -162px;}
#chinese {background-position: -504px -162px;}

/* liens FB/twitter/RSS */
a.share {
    height:18px;
    width:18px;
    margin-top:3px;
}
a.share + a.share {margin-left:2px;}

#facebook {background-position:-484px -162px;}
#twitter {background-position:-341px -195px;}
#rss {background-position:-465px -161px;}

#page1 {
        text-align:left;
        width:900px;
        background-color:white;
        margin-top:0;	
        -webkit-border-bottom-left-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
           -moz-border-bottom-left-radius: 10px;
           -moz-border-bottom-right-radius: 10px;
            -ms-border-bottom-left-radius: 10px;
            -ms-border-bottom-right-radius: 10px;
             -o-border-bottom-left-radius: 10px;
             -o-border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
}

#cadre {
        width:1024px;
        margin-left:auto;
        margin-right:auto;
        padding-bottom:40px;
}
.puce_lien {
        margin-top: 10px;
        margin-bottom: 0px;
        display: block;
        background-image: url(http://static1.bfontaine.net/up7opt/puce_redirection.png);
        background-repeat: no-repeat;
        margin-left:0;
        alignment-adjust:middle;

        font-size: 1.0em;
        font-weight:bold;
        font-family:Verdana, Arial, Helvetica, sans-serif;
        padding-left:70px;
        padding-top:18px;
        text-decoration: none;
        color:  #888;
        height:60px;	
}

body#med {
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        font: normal 70% verdana, arial, helvetica, sans-serif;
        color: black;
        background-color: #FFFFFF;
        line-height:normal;
}

.bodyFCK {
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        font-size: 1.1em;
        font: normal 90% verdana, arial, helvetica, sans-serif;
        color: black;
        background-color: white;
}
form {
        float:right;
        margin-bottom:0;
        margin-top:0;
        padding:5px;
}

#content form {
        float:none;

        margin-bottom:0;
        margin-top:0;
        padding:5px;
}

div#gauchet {
        margin-top:10px;

        width:49%;
        float:left;
}
div#droitet {
        margin-top:10px;
        width:49%; 
        float:right;
}
div#gaucheN {
        float:left;
        width:47%;
        height: auto;
        display: block;
        margin-top:10px;
}

.bg_gauche {
        width: 930px;
        margin-left:110px;
        margin-bottom:0;
        background-color:white;

        background:transparent /* 404: url(../images/gauche_2n.png)*/ repeat-y scroll 0 100%;
        text-align: left;
}
.bg_droite {
        width: 900px;
        margin-left:15px;
        margin-bottom:0;
        background-color:white;
        background:transparent /* 404: url(../images/droite_2n.png)*/ repeat-y scroll 0 100%;
        text-align: right;

}
#finpage {
        width: 900px;
       /* height:71px;*/height:35px;
        /*margin-left:125px;*/
/*        margin-top:0;
        text-align: right;
        background-image:url(http://static1.bfontaine.net/up7opt/footer_2.png);
        background-repeat:no-repeat;	
        background-color:white;

        -webkit-border-bottom-left-radius: 15px;
        -webkit-border-bottom-right-radius: 15px;
           -moz-border-bottom-left-radius: 15px;
           -moz-border-bottom-right-radius: 15px;
            -ms-border-bottom-left-radius: 15px;
            -ms-border-bottom-right-radius: 15px;
             -o-border-bottom-left-radius: 15px;
             -o-border-bottom-right-radius: 15px;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;

        margin-bottom:20px;*/
}

#menu_footer {
        margin-top: 0px;
        margin-left:0;
        padding-left:10px;
        color:#827D82;
        list-style-type: none;
        width: 100%;
        font: bold 95% verdana, arial, helvetica, sans-serif;
}

#menu_footer a {
        text-align: left;
        font-weight:bold;
        margin-left:0;
        padding-left:0;
        display: inline; 
        text-decoration: none;  
        padding: 0 3px;
        border-right: 1px solid ;

        color:#bbb;
        font-size:10px;
        line-height: 36px;
}

#menu_footer a:hover {
        text-decoration: none;  
        color: #EF001F;
}

div#header1 {
        margin-top:0;
        font-family:Verdana, Arial, Helvetica, sans-serif;
        font-size: 1.0em;
        padding: .5em 1em;
        text-align: left;
}

.cleardiv {
        clear: both;
        height:0.1em;
}

#cleardivN {
        clear: both;
}

div#footerEx {
        clear: both;
        padding: .5em 1em;
        border-top: 1px solid #999;
        text-align: right;
        font-size: 1.0em;
        background-color: #ccc;
        margin-top:0;
}
div#footer {

        text-align: left;
        font-size: 1.0em;
        background-color: #555;
        height:36px;
        width:900px;
        margin-left:0;
        margin-top:0;
        color:white;
}
div#footer ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
}

div#footer li {
        display:inline;
        margin-right: 1em;
} 

.bas {
        width:664px;
        padding: 0px; 
        margin-top:0;
        height: auto;
}
.encadreActuUFR { 
        margin-top:5px;
        padding:5px;
        background: #FFFFFF;
        border-style:solid; 
        border-width:1px; 
        border-color:#999; 
}

.tableauEntete,
.tableauEntete1,
.tableauEntete2,
.tableauEntete3,
.tableauLigne3b,
.tableauLignetb,
.tableauLignetbg,
.tableauLigne1
.tableauLigne2g,
.tableauLigne2i,
.tableauLigne2,
.tableauLignetbg,
.tableauLignetb,
#content .tableauEntete4,
.tableauLigne2bv,
.tableauLigne2br,
.tableauLigne2bg,
.tableauLigne2b {
        font-family: Arial, Helvetica, sans-serif;
}
.tableauEntete1,
.tableauEntete2,
.tableauEntete3 {
        font-size: 1em;
}

.tableauEntete,
.tableauEntete1 {
        color: #EF001F;
        background-color: #aaa;
}
.tableauEntete {
        font-weight: normal;
        font-size: 1.1em;
}

.tableauEntete1,
.tableauEntete3 {
        font-weight: bold;
}

.tableauEntete2 {
        font-weight: normal;
        color: black;
        background-color: #ccc;
}
.tableauEntete3 {
        font-weight: bold;
        color: #EF001F;
        background-color: #ccc;
}

.tableauLigne3b {
        text-align: left;
        color: #0000FF;
        font-size: 1.4em;
        font-style: normal;
        font-weight: bold;
        line-height: 20px;	
}

.tableauLignetb {
        display:block ;
        margin-left:10px;
        margin-right:10px;
        color: #2D3462;
        background-color: #FDC839;
        font-size: 1.2em;
        font-style: normal;
        font-weight: normal;
        text-indent: 3px;
        text-decoration: none;
        line-height: 25px;
        border: 1px solid;
        text-indent: 15px;
        border-color: white black black white;
}

.tableauLignetbg {
        display:block ;
        margin-left:10px;
        margin-right:10px;
        color:#2D3462;
        background-color: #FFA800;
        font-size: 1.2em;
        font-style: normal;
        font-weight: normal;
        text-indent: 3px;
        text-decoration: none;	
        line-height: 25px;
        border: 1px solid;
        text-indent: 15px;
        border-color: white black black white;
}

.tableauLigne1 {
        text-align: left;
        color: black;
        background-color: #eee;
        font-size: 1.0em;
        font-weight: normal;
        padding-left:10px;	
}

.tableauLigne2g {
        color: #2D3462;
        background-color: #cBe9fF;
        font-size: 1.2em;
        font-style: normal;
        line-height: 20px
}

.tableauLigne2 {
        text-align: left;
        color: black;
        background-color: #eee;
        font-size: 1em;
        font-style: normal;
}
.tableauLigne2i {
        text-align: left;
        color: black;
        background-color: #eee;
        font-size: 1.2em;
        font-style: normal;
        padding-left:15px;
}

.tableauLigne2b {
        color: black;
        background-color: white;
        font-size: 1.0em;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        text-align:left;
}

.tableauLigne2bg {
        color: black;
        background-color: #ddd;
        font-size: 1.0em;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
}
.tableauLigne2br {
        text-align: left;
        color: black;
        background-color: #f00;
        font-size: 1.1em;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        margin-left:3px;
}
.tableauLigne2bv {
        text-align: left;
        color: black;
        background-color: #0f0;
        font-size: 1.1em;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        margin-left:3px;
}
.tableauEnteteContact {
        font-size: 1.0em;
        background-color: #eee;
        font-style: normal;
        font-weight: normal;
}
#content .tableauEntete4 {
        font-size: 1.0em;
        background:#eee;
        font-weight: normal;
        color: #FF0000;
        padding:4px;
}

.tableauLignetb {
        display:block ;
        margin-left:10px;
        margin-right:10px;
        color: #EF001F;
        background-color: #ddd;
        font-size: 1.2em;
        font-style: normal;
        font-weight: normal;
        text-indent: 3px;
        text-decoration: none;
        line-height: 25px;
        border: 1px solid;
        text-indent: 15px;
        border-color: white black black white;
}

.tableauLignetbg {
        display:block ;
        margin-left:10px;
        margin-right:10px;
        color:#EF001F;
        background-color: #eee;
        font-size: 1.2em;
        font-style: normal;
        font-weight: normal;
        text-indent: 3px;
        text-decoration: none;	
        line-height: 25px;
        border: 1px solid;
        text-indent: 15px;
        border-color: white black black white;
}

#content 
{
        float:left;
        width:691px;
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        color: black;
        text-align : left;
        padding:0;
        background-color:white;
        height:auto;
}
#page { 
        margin-top:30px;
        padding:8px;
}
#content .encadreActu2 { 
        background: #5ff;
        padding-bottom:0;
        padding-left:2px;
        padding-top:2px;
        padding-right:1px;
        margin-bottom:3px;
        border-left:0;
        border-right:1px;
        border-top:0;
        border-bottom:1px;
        border-style:solid;

        border-color:#ccc;
        margin-left:0;
        margin-right:3px;
        margin-top:1px;
        float:left;
        width:98%;

}

#content .gauchet {
        font-size: 1.1em;
        color: #666;
        width:47%;
        margin-top:5px; 
        float:left;
}

#content .droitet {
        font-size: 1.1em;
        color: #666;
        width:47%;
        margin-top:5px; 
        float:right;

}

#content .bloc {
        display: inline-block;
        float:left;
        height:inherit;
        width:200px;
        padding:10px;
        text-align:center;
}

#content p {
        font-family:Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight:normal;
        margin-top:0.3em;
        margin-left:0.5em;
        line-height:1.3em;
        color: #696469;
}
h1 {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 16px;
        font-weight:bold;
        line-height:18px;
        letter-spacing:0.5;
        color: #D6003D;
        margin-top:0;
        margin-bottom:0;
        padding-top:0;
        padding-bottom:10px;

}
h2 {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 14px;
        font-weight:bold;
        line-height:16px;

        color: #D6003D;
        margin-top:20px;
        margin-bottom: 5px;
}
h3 {
        padding-top: 0px;
        padding-bottom: 1px;
        font-family:Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
        letter-spacing:0.5;
        line-height:normal;
        color: #EF001F;
        font-weight: bold;
        text-align: left;
        width: auto;
        margin-top:15px;
        margin-left: 0px;
        margin-bottom: 5px;
}
h4 {
        padding-top: 0px;
        padding-bottom: 1px;
        font-family:Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        letter-spacing:0.5;
        color: #EF001F;
        font-weight: bold;
        text-align: left;
        width: auto;
        margin-top:15px;
        margin-left: 0px;
        margin-bottom: 2px;
}
#content .contact {

        width:98%;
        margin-top:0;
        margin-left:0;
        margin-right:0;
        margin-bottom:0;
        padding-left:7px;
        background-color: white;
        color: black;
        border-style:solid; 
        border-width:0; 
        border-color:#eee; 
        height: auto;
}

#content .encadreActuFlash {
        float: left;
        background: white;
        border-style:solid; 
        border-width:1px; 
        border-color:#999;
        padding:0;
        margin-top:5px;
        margin-bottom:5px;
        width:100%;
        height:auto;
}

#content .titreActuFlash {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        font-weight: bold;
        color: white;
        padding:2px;
        margin-bottom:5px;
        background: #EF001F;
        line-height:15px;	
}

#content a.savoirplus {
        display: inline;
        font-family: Verdana, Arial, Helvetica, sans-serif;

        font-size: 1.1em;
        font-weight: normal;
        color: #EF001F;
        margin-left:140px;

        padding:0;
        text-decoration: none;
}

.titrechapitre {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        font-weight: bold;
        color: #009;
        background-color: #E1E1E1;
        width:90%;
        line-height: 20px;
}

#content table {

        font-size: 1.1em;
}

#content .paragraph1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.05em;
        margin-top:0.3em;
        margin-left:0.5em;
        line-height:1.3em;
        color: black;
        border-left-color: #EF001F;
        border-left-style: solid;
        border-left-width: 1px;
        padding-left:3px;
}

#content .paragraph2 {
        font-family:  Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        font-weight: bold;
        color: black;
        background: url(http://static1.bfontaine.net/up7opt/sup.png) no-repeat;
        padding-left: 15px;
        margin-left: 10px;
}

#content .paragraph3 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        color: #222;
        border-left-color: #EF001F;
        border-left-style: solid;
        border-left-width: 1px;
        padding-left: 10px;
        margin-left: 30px;
}

#content .paragraph4 {
        font-family:  Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        font-weight: normal;
        color: black;
        padding-left: 5px;
        margin-left: 0px;
}

#content .paragraph5 {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 12px;
        font-weight: normal;
        line-height:16px;

        letter-spacing:0.5;
        color: #949;
        text-align:justify;
}

#content .paragraph6 {
        font-family:  verdana, sans-serif;
        font-size: 1em;
        font-weight:bold;
        color: #666;
        padding-left:3px;
}

#content ul {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 10px;
        font-weight:normal;
        line-height:16px;
        letter-spacing:0.5;
        list-style-type:square;

        color: #949;
}

#content li {
        font-family:Arial, Helvetica, sans-serif;	
        font-weight:normal;
        line-height:16px;
        letter-spacing:0.5;
        color: #949;
}

#content li a {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 12px;
        font-weight:bold;
        line-height:16px;
        letter-spacing:0.5;
        color: #949;
}

#content .texte_courant a {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 12px;
        font-weight:bold;
        line-height:16px;
        color:#949;
}

#content .intertitre {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 14px;
        font-weight:bold;
        line-height:16px;
        color: #D6003D;
}

#content .texte_courant {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 12px;
        font-weight: normal;
        line-height:16px;
        letter-spacing:0.5;
        color: #949;
        text-align:justify;

}
#content .zoom {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 11px;
        font-weight: bold;
        line-height:15px;
        letter-spacing:0;
        color: #949;
        text-align: left;
        padding:8px 8px 8px 8px;	

}
#content .zoom a {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 11px;
        font-weight: bold;
        line-height:15px;
        letter-spacing:0;
        color: #75134C;
        text-align: left;


}
#content .en_chiffres {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 13px;
        font-weight: normal;
        line-height:17px;
        letter-spacing:0;
        color: #949;
        text-align: left;
        padding:8px 8px 8px 8px;	

}
#content .titre_diderot {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 16px;
        font-weight:bold;
        line-height:18px;
        letter-spacing:0.5;
        color: #D6003D;
}
#content .couleur_diderot {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 12px;
        font-weight: normal;
        line-height:16px;
        letter-spacing:0.5;
        color: #D6003D;
        text-align:justify;
}

#content .intertitre_diderot {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 14px;
        font-weight:bold;
        line-height:16px;
        letter-spacing:0.5;
        color: #D6003D;
}

#content .couleur_pratique {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 12px;
        font-weight: normal;
        line-height:16px;
        letter-spacing:0.5;
        color: #C90000;
        text-align:justify;
}

#content .intertitre_pratique {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 14px;
        font-weight:bold;
        line-height:16px;
        letter-spacing:0.5;
        color: #C90000;
}
#content .titre_pratique {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 16px;
        font-weight:bold;
        line-height:18px;
        letter-spacing:0.5;
        color: #C90000;
}

#content .couleur_recherche {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 12px;
        font-weight: normal;
        line-height:16px;
        letter-spacing:0.5;
        color: #AD003D;
        text-align:justify;

}
#content .intertitre_recherche {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 14px;
        font-weight:bold;
        line-height:16px;
        letter-spacing:0.5;
        color: #AD003D;
}
#content .titre_recherche {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 16px;
        font-weight:bold;
        line-height:18px;
        letter-spacing:0.5;
        color: #AD003D;
}

#content .couleur_campus {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 12px;
        font-weight: normal;
        line-height:16px;
        letter-spacing:0.5;
        color: #75134C;
        text-align:justify;

}
#content .intertitre_campus {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 14px;
        font-weight:bold;
        line-height:16px;
        letter-spacing:0.5;
        color: #75134C;
}
#content .titre_campus {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 16px;
        font-weight:bold;
        line-height:18px;
        letter-spacing:0.5;
        color: #75134C;
}

#content .couleur_formations {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 12px;
        font-weight: normal;
        line-height:16px;
        letter-spacing:0.5;
        color: #900;
        text-align:justify;

}
#content .intertitre_formations {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 14px;
        font-weight:bold;
        line-height:16px;
        letter-spacing:0.5;
        color: #900;
}
#content .titre_formations {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 16px;
        font-weight:bold;
        line-height:18px;
        letter-spacing:0.5;
        color: #900;
}

#content .couleur_admissions {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 12px;
        font-weight: normal;
        line-height:16px;
        letter-spacing:0.5;
        color: #C9036B;
        text-align:justify;

}
#content .intertitre_admissions {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 14px;
        font-weight:bold;
        line-height:16px;
        letter-spacing:0.5;
        color: #C9036B;
}
#content .titre_admissions {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 16px;
        font-weight:bold;
        line-height:18px;
        letter-spacing:0.5;
        color: #C9036B;
}

#content .paragraphNormal {
        font-family:Arial, Helvetica, sans-serif;	
        font-size: 12px;
        font-weight: normal;
        line-height:16px;
        letter-spacing:0.5;
        color: #827D82;
}

#content .date {
        font-family: Arial, Helvetica, sans-serif;
        color: #333;
        font-size: 11px;
        font-weight:normal;
        font-style:italic;
}

#content .nouvelle {
        margin-top:0.3em;
        margin-left:0em;
        margin-right:0.3em;
        line-height:normal;

}

#nouvelleB p {
        margin-top:0.3em;
        margin-left:0em;
        margin-right:0.3em;
        font-weight:bold;
        line-height:normal;
}

.ufrform {
        margin-top:10px;
        border-style:solid;
        border-width:1px;
        margin-left:1px;
        padding-bottom:2px;
        margin-bottom:10px;
        width:140px;
}

.rechform {
        float:left;
        border-style:solid;
        border-width:1px;
        margin-left:5px;
        padding-bottom:2px;
        width:140px;
}

.menuRech {
        font-size: 0.9em;
        font-family:Verdana, Arial, Helvetica, sans-serif;
        text-align:center;

}
.titreChamp {
        font-size: 1em;
        font-weight: bold;
        color: #666;
        font-family: Arial, Helvetica, sans-serif;
        line-height:20px;
}

.saisieChamp {
        font-size: 1em;
        font-weight: bold;
        color: #EF001F;
        font-family: Arial, Helvetica, sans-serif;
        line-height:20px;
}

.titrerech {
        border-color:black;
        font-size: 1.0em;
        font-weight:bold;
        font-family:Verdana, Arial, Helvetica, sans-serif;
        text-align:center;
        padding:3px;
        color: black;
        background-color: #bbb;
        width:auto;
}
.boutonRech {
        font-family:Arial, Helvetica, sans-serif; 
        font-size: 1em;
        padding-left:5px;
        font-weight: normal;
        text-align:left;
        color: #D6003D;
        width:100%;
        margin:0;
        height:auto;
}

.saisieRech {
        font-family:  Geneva, Arial, Helvetica, sans-serif;
        font-size: 1.0em;
        font-weight: normal;
        text-align:left;
        color: #D6003D;
        width:120px;
        margin-left:0;
}

.radRech {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.1em;
        font-weight: bold;
        text-align:left;
        color: #D6003D;
        width:13px;
        margin:3px;
        vertical-align:middle;
        height:13px;	
}

.clickRech {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.0em;
        font-weight: normal;
        text-align:center;
        color: black;
        width:70px;
        margin:0;
        padding:0;
}

#header1 {
        margin-top:0;

        font-family:Verdana, Arial, Helvetica, sans-serif;
        font-size: 1.0em;
        padding: .5em 1em;
        text-align: left;
        color:black;
}

#content .lirelasuite {
        display:inline;
        padding: 3px 3px 3px 15px;
        font-family: Arial, Helvetica, sans-serif;
        background: url(http://static1.bfontaine.net/up7opt/arrowor.png) 2px no-repeat;
        font-size: 1.0em;
        font-weight: bold;
        color: #EF001F;
        margin-left:5px ;
        text-decoration: none;
        letter-spacing:normal;	
}

#contentU a.liste2 {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 0.75em;
        font-style: normal;
        font-weight: bold;
        color: #666;
        background-image: url(http://static1.bfontaine.net/up7opt/rondRouge.png);
        background-repeat: no-repeat;
        background-position: left 2px;
        display: block;
        margin-left:25px;
        margin-right: 10px;
        margin-bottom: 6px;
        text-align: left;
        padding-left:10px;
        line-height: 9pt;	
}
#content a.liste3 {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 0.75em;
        font-style: normal;
        font-weight: normal;
        color: #666;	
        background-repeat: no-repeat;
        background-position: left 2px;
        display: block;
        margin-left:0;
        margin-right: 10px;
        margin-bottom: 6px;
        text-align: left;
        padding-left:25px;
        line-height: 9pt;	
}

#content a.liste2:hover {
        text-decoration: none;
        color: #FF0000;

}
#navigation a.liste2 
{
        display: block;
        margin-left:5px;
        margin-right:1px;
        margin-bottom:5px;
        font-size: 0.9em;
        font-weight:bold;
        font-family:Verdana, Arial, Helvetica, sans-serif;
        padding: 0px 0px 0px 8px;
        text-decoration: none;
        color:  #666;
        background-image: url(http://static1.bfontaine.net/up7opt/rondRouge.png);
        background-repeat: no-repeat;
        background-position: 0px 5px;
        line-height:12px;
}

#content a.sousListe {
        display: block;
        margin-left:45px;
        font-size: 1.2em;
        font-weight:normal;
        font-family:Verdana, Arial, Helvetica, sans-serif;
        padding: 0px 0px 0px 15px;
        text-decoration: none;
        color:  #666;
        background-image: url(http://static1.bfontaine.net/up7opt/rondRouge.png);
        background-repeat: no-repeat;
        background-position: 0px 4px;
        line-height:15px;
}
#contentU a.sousListe {
        display: block;
        margin-left:45px;
        font-size: 1.2em;
        font-weight:normal;
        font-family:Verdana, Arial, Helvetica, sans-serif;
        padding: 0px 0px 0px 15px;
        text-decoration: none;
        color:  #666;
        background-image: url(http://static1.bfontaine.net/up7opt/rondRouge.png);
        background-repeat: no-repeat;
        background-position: 0px 4px;
        line-height:15px;
}

#content a:hover {
        text-decoration: none;
        color:#D6003D;
}

.compteur {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.9em;
        line-height: 12pt;
        font-weight: normal;
        color: #006;
        background-color: #F3F3F3;
        text-align:center;
        float:none;

        height: 12pt;
        width: 100px;
        border: 1px solid #900;
        margin-left: 20px;	
}
.gaucheP {
        float:left;
        width: 49%;
        margin: 2px;
}
.droiteP {
        float: right;
        width: 49%;
}

.FlashInfos {
        background-image: url(http://static1.bfontaine.net/up7opt/flash-infos.png);
        background-repeat: no-repeat;
        background-position: left center;

        height: 30px;
        width: 338px;
        text-align: center;
}

.FlashSport {
        background-image: url(http://static1.bfontaine.net/up7opt/flash-sport.png);
        background-repeat: no-repeat;
        background-position: left center;
        display: inline-block;
        height: 30px;
        width: 338px;
        text-align: center;
}
.FlashCulture {
        background-image: url(http://static1.bfontaine.net/up7opt/flash-culture.png);
        background-repeat: no-repeat;
        background-position: left center;
        display: inline-block;
        height: 30px;
        width: 338px;
        text-align: center;
}
.FlashVieEtudiante {
        background-image: url(http://static1.bfontaine.net/up7opt/flash-vie_etudiante.png);
        background-repeat: no-repeat;
        background-position: left center;
        display:block;

        height: 30px;
        width: 338px;
        text-align: center;
}
.info {
        background-image: url(http://static1.bfontaine.net/up7opt/infoparisdiderot.png);
        background-repeat: no-repeat;
        background-position: left center;

        height: 55px;
        width: 338px;
        text-align: center;
}

#infos {
        float: left;
        width:97%;
        margin-right:5px;
        margin-left:5px;
        padding:0;
        margin-top:0;
        margin-bottom:0;
        color: black;
        background: white;
        height:auto;
}
#content .titreActu2 {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 0.75em;
        font-style: normal;
        font-weight: bold;
        color: #666;
        background-image: url(http://static1.bfontaine.net/up7opt/rondRouge.png);
        background-repeat: no-repeat;
        background-position: left 2px;
        display: block;
        margin-left:0;
        margin-right: 10px;
        margin-bottom: 6px;
        text-align: left;
        padding-left:10px;	
        line-height: 9pt;
}

#content a {
        display:inline;
        font-weight:bold;
        color: #782D59;
        text-decoration: none;
        line-height:16px;
}
#content a.line {
        display:inline;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 12px;
        letter-spacing:0.8;
        font-weight:bold;
        color: #827D82;
        text-decoration: none;
        line-height:16px;

}

#partenariat .image {

        background-image: url("");
        padding:0;
        margin-top:5px;
}

#partenariat a.lien {
        display: block;
        margin-top: 0px;
        margin-left: 5px;
        margin-right: 0px;
        width: 135px;
        padding: 3px 3px 3px 10px;
        text-decoration: none;
        color:  #999;
        font-size: 0.75em;
        font-weight:bold;
        font-family:Verdana, Arial, Helvetica, sans-serif;
        background-image: url(http://static1.bfontaine.net/up7opt/rondRouge.png);
        background-repeat: no-repeat;
        background-position: 0px 6px;

}
#partenariat .paragraph5 {

        font-family:Verdana, Arial, Helvetica, sans-serif;
        font-size:0.7em;
        font-weight:normal;
        margin-top:0.3em;
        margin-left:0.5em;
        line-height:normal;
}
#contentU a {
        display:inline;

        font-weight:bold;
        font-family:Verdana, Arial, Helvetica, sans-serif;
        color: #EF001F;
        text-decoration: none;
}

#content a.titreActualite2 {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 1em;
        font-style: normal;
        font-weight: bold;
        color: #777;
        background-image: url(http://static1.bfontaine.net/up7opt/point-rouge.png);
        background-repeat: no-repeat;
        background-position: left 2px;
        display: block;
        margin-left:10px;
        margin-right: 10px;
        margin-bottom: 6px;
        text-align: left;
        padding-left:14px;
        line-height:normal;	
}

#content  a.titreActualite:hover {color:red; text-decoration:none;} 
#content a.sousTitreActualite {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 0.85em;
        font-style: normal;
        font-weight: normal;
        color: #201;
        background-image: url(http://static1.bfontaine.net/up7opt/rondRouge.png);
        background-repeat: no-repeat;
        background-position:  0px 4px;
        display: block;
        margin-right: 10px;
        margin-top:2px;
        margin-bottom: 4px;
        text-align: left;
        padding-left:14px;
        line-height: 10pt;	
        text-decoration: none;
}
#content  a.sousTitreActualite:hover {color:red; text-decoration:none;} 
#content a.chapo {
        display:inline;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 1.0em;
        font-weight:normal;
        color: #44000A;
        text-decoration: none;
        height:inherit;
        line-height:normal;
}
#content a.chapo:hover {
        text-decoration: underline;
        color: #FF0000;
}
.libsaisief {
        background-color: #111;
}

div#boutonComp a {
        text-decoration: none; 
        display: inline; 
        text-align: left;
        margin-top:0;
        margin-left:0;
        margin-right:0;
        margin-bottom:0;
        font-size: 11px;
        font: normal 100% verdana, arial, helvetica, sans-serif;
        color: black;
        background-color:#eee;
        padding: 4px 10px 4px 10px;
        border-right: 0px ;

        border-left: 0px ;
        color: black;

}

div#boutonComp a:hover {
        text-decoration: none;  
        color: white;
        background-color:#EF001F;
        border-left: 1px solid #999;
        border-right: 1px solid #999;
        border-top: 1px solid #999;

}

.clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
}
.clearfix { display: inline-table; }
img:after {
        clear: both;	
}
