#menu_infos,
#topmenu {
        color: #FFC;  
        padding-top:0;
        margin-top:6px;
        margin-left:40px;
        padding-left:0;
        list-style-type:none;
        height:141px;
        margin-top:0;
}
#topmenu {margin-left:40px;margin-bottom:0}
#menu_infos {margin-left:0;}

#menu_infos li,
#topmenu li {
        display: block; 
        margin-bottom:0;
        padding-left:0;
        font-size :12px;
}
#topmenu li {
        padding-top:0;
        margin-top:13px;
        margin-left:-1px;
        width: 180px;
        height:19px;
        letter-spacing:1pt;
}
#topmenu li + li {margin-top:6px;}
#menu_infos li {
        padding-top:6px;
        padding-bottom:6px;
        margin-top:0;
        margin-left:0;
        width : 145px;
        height:29px;
} 
#menu_infos li  a,
#topmenu li a,
#menu_infos li ul li a {
        color: white;
}
#menu_infos li a:hover,
#topmenu li a:hover {	
        color:#D6003D;
}
#menu_infos li a.trans,
#topmenu li a.trans {
        font-family:Arial, Helvetica, sans-serif; 
        font-size:12px;
        color:white; 
        letter-spacing:1px;
        text-decoration:none;
}

#menu_infos a.trans:hover,
#topmenu a.trans:hover {
        color:red;
}
#menu_infos li ul,
#topmenu li ul {
        display: none;
        position: relative;
        margin-left:0;
        padding-left:0; 
        z-index:3;
}
#topmenu li ul { 
        left:159px;
        top:-23px;
}
#menu_infos li ul {
        background-color:#899090;
        left:0;
        margin-top:7px;
        top:0;
}
#topmenu li ul li {
        background-color:#eee;
        width: 182px;
        height:29px; 
        margin-top:0;
        margin-bottom:0;
        border-bottom-color:#C9036B;
        border-bottom-style:solid;
        border-bottom-width:thin;
}
#menu_infos li ul li {
        background-color:#333;
        width: 145px;
        height:20px; 
        margin-top:0;
        margin-bottom:0;
        padding-top:4px;
        padding-bottom:4px;
        border-top-color:#444;
        border-top-style:solid;
        border-top-width:2px;
}
#topmenu li ul li a,
#menu_infos li ul li a {
        text-decoration:none;
        font-family:Arial, Helvetica, sans-serif;
        font-size:11px;
        letter-spacing:0.5px;
        padding-left:3px; 
}

#topmenu li ul li a {
        color : #827d82;
        line-height:25px;
}
#menu_infos li ul li a {
        line-height:10px;
}
#topmenu li:hover > ul,
#menu_infos li:hover > ul {
        display:block;    
        color:#D6003D;		
}
#bandeau {
        width: 800px;
        margin-left:124px
}
#logo,
#bandeau,
#bandeau_2 {
        height: 160px;
}
#logo {
        float: left;
        width:124px;
}
#deroulant {
        background-image:url(http://static1.bfontaine.net/up7opt/sprites.png);
        height: 160px;
        width:900px;
        background-position-x:0;
        background-position-y:0;
        position:relative;
        left:124px; 
        top:0; 
        z-index:2;
}
#spacer {
        clear: both;
}
